.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font: 700 60px Roboto, sans-serif;
    margin: 5% 0 2% 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-control > label {
    font: 400 20px Roboto, sans-serif;
}

.form-control > input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

button {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

span {
    font: 400 15px Roboto, sans-serif;
}

a {
    font: 400 15px Roboto, sans-serif;
    color: blue;
    text-decoration: none;
}